* {
	margin:0;
	padding:0;
}
/*字体图标引入*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x2jada');
  src:  url('fonts/icomoon.eot?x2jada#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x2jada') format('truetype'),
    url('fonts/icomoon.woff?x2jada') format('woff'),
    url('fonts/icomoon.svg?x2jada#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



body{
	background-color: #ccc;
}

a {text-decoration: none;}
li {
	list-style-type: none;
}

.w{
	margin:auto;
	width: 1065px;
}

.card1, .card2, .card3{
	float: left;
	position: relative;
	width: 340px;
	height: 260px;
	margin-top:10px;
	margin-left:10px;
	border-radius: 8px;
	background-color:#fff;
	/*border:1px solid red;*/
}

.card1 img{
	display: block;
	width: 340px;
	height: 190px;
}

.cityname{
	position: absolute;
	top:40px;
	right:20px;
	width: 60px;
	height: 20px;
	border-radius: 1px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
}

.card1 .cityname{
	background-color: #368be3;
}
.card2 .cityname,
.card3 .cityname,
.card4 .cityname{
	background-color: #e33c36;
}

.card5 .cityname{
	background-color: #fff;
	color: #333;
}

.playbutton{
	width: 60px;
	height: 60px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-30px;
	margin-top:-30px;
}
.textinfo1,
.textinfo2,
.textinfo3,
.textinfo4 {
	width: 300px;
	height: 40px;
	margin:15px 20px;
}

.textinfo1{
	background:url(images/heart.jpg) no-repeat right top;	
}


.textinfo1 h4{
	color: #535539;
	font-size: 16px;
}
.textinfo1 p{
	font-size: 14px;
	color: #999;
	margin-top:5px;
}
.card2{
	background:url(images/bg-4.png) no-repeat top left;
}

.textinfo2{
	position: absolute;
	top:170px;
	/*left:20px;*/
	/*background-color:pink;*/
}
.textinfo2 h4,
.textinfo3 h4{
	color: #fff;
	font-size: 16px;
}
.textinfo2 p,
.textinfo3 p{
	font-size: 14px;
	color: #fff;
	margin-top:5px;
}
.textinfo2 span, 
.more{
	display: inline-block;
	float: right;
	width: 4px;
	height: 4px;
	margin-left:3px;
	background-color: #fff;
	border-radius: 50%;
}

.card3 {
	background:url(images/bg-1.png) no-repeat top left;
}
.card3 img{
	width: 340px;
	height: 260px;
}

.textinfo3{
	position: absolute;
	top:150px;
	/*left:20px;*/
	/*background-color:pink;*/
}

.review {
	position: relative;
	margin-top:5px;
	vertical-align: bottom;
}
.review span{
	font-family: 'icomoon';
	color: yellow;
	font-size: 14px;
}
.review .review_numbers{
	font-size:10px;
	color: lightyellow;
}
.review div{
	position: absolute;
	bottom:0;
	right:0;
}

.card4{
	float: left;
	position: relative;
	width: 340px;
	height: 400px;
	margin-left:10px;
	margin-top:10px;
	border-radius: 6px;
	background-color:#fff;
	/*border:1px solid red;*/
}

.card4 img{
	display: block;
	width: 340px;
	height: 170px;
}

.textinfo4 h4{
	color: #333;
	font-size: 20px;

}
.textinfo4 p{
	font-size: 14px;
	color: #999;
	margin-top:15px;
	line-height: 24px;
	background-color: 
}

.card4 a{
	position: absolute;
	bottom:45px;
	left:50%;
	margin-left:-65px;
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #076bfe;
	border-radius: 20px;
}

.card5{
	position: relative;
	float: left;
	width: 690px;
	height: 400px;
	margin-left:10px;
	margin-top:10px;
	border-radius: 8px;
	/*background-color:#fff;*/
	/*border:1px solid red;*/
	background: url(images/bg-2.png) no-repeat;
}

.card5-info{
	margin-top:280px;
	border-left: 8px solid #36e3ad;
	padding-left:35px;: 
}

.card5-info p {
	color: #36e3ad;
	font-size: 18px;
}

.card5-info h1{
	color: #fff;
	font-size: 40px;
	font-weight: 400;
	padding-top:5px;
	text-align: baseline;
}

.card5-info a{
	position: absolute;
	bottom: 40px;
	right: 40px;
	width: 130px;
	height: 40px;
	background-color: #3f50ff;
	color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;

}


